:root
{
  touch-action: none;
  height: 100% 
}

html
{
  -webkit-user-select: none;
  user-select: none;
  line-height: 1.6em;
  font-family: 'Roboto';
}
body
{
  --cols: 0;
  --zoom: 2.5em;
  --iconSize: 80%;

  --border-color-dark: black;
  --border-color-light: rgba(192, 192, 192, 0.5);
  --border-top: calc(var(--zoom) / 20);
  --border-right: var(--border-top);
  --border-left: calc(var(--zoom) / 20 * -1);
  --border-bottom: var(--border-left);
  --border-size-dark: calc(var(--zoom) / 15);
  --border-size-light: calc(var(--zoom) / 5);

}

.control
{
  display: flex;
  gap: 0 0.5em;
  flex-wrap: wrap;
  /* justify-content: flex-start; */
  /* max-width: 34em; */
  min-width: 18em;
/* flex-grow: 0; *//* text-align: center; *//* display: block; */}
.control > *
{
  display: inline-flex;
  gap: 0.2em;
/* float: left; */
  /* flex-grow: 0; *//* flex-shrink: 0; */
/* display: block; */}
.control input[type="number"]
{
  width: 3.5em;
}

.control :last-child
{
  /* flex-grow: 1; */
/* justify-self: center; *//* justify-content: center; *//* float: none; */}

.control :first-child
{
  flex-grow: 0;
  gap: 0.5em;
}

#table
{
  display: inline-grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  text-align: center;
/* margin: 1em; */margin: calc(var(--zoom) / 30) /* allow cell border through */;}

#table > *
{
  border: 1px solid black;
  margin-left: -1px;
  margin-top: -1px;
  width: var(--zoom);
  height: var(--zoom);
  vertical-align: middle;
  font-size: 0.5em;
  /* line-height: calc(var(--size) / 2.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

body:not(.pause):not(.drag) #table:not(.finished) > *:not(.shown):hover
{
  box-shadow: 0 0 calc(var(--zoom) / 5) 0 black inset, 0 0 calc(var(--zoom) / 5) 0;
}

#table > *::before
{
  font-size: calc(var(--zoom) / 1.5);
}

#table > *[data-type]::before
{
  position: relative;
  top: 0;
  line-height: 0.7em;
}
body.pause #table
{
  opacity: 0.4;
  background-color: silver;
}
body:not(.pause) #table > *[data-type]:not([data-type="9"]):not([data-type="64"]):not([data-type="0"])::before
{
  content: attr(data-type);
}

body:not(.pause) #table > *[data-type="9"]::before,
body:not(.pause) #table > *[data-type="64"]::before
{
  content: "";
  height: var(--iconSize);
  width: var(--iconSize);
  background-size: cover;
  background-image: url(images/flag.svg);
  background-repeat: no-repeat;
}

body:not(.pause) #table > *[data-type="9"]::before
{
  background-image: url(images/mine.svg);
}

body:not(.pause) #table.finished > *[data-type="9"]:not(.flag).top
{
  --border-top-color-dark: var(--border-color-dark);
  --border-top-color-light: var(--border-color-light)
}
body:not(.pause) #table.finished > *[data-type="9"]:not(.flag).right
{
  --border-right-color-dark: var(--border-color-dark);
  --border-right-color-light: var(--border-color-light)
}
body:not(.pause) #table.finished > *[data-type="9"]:not(.flag).bottom
{
  --border-bottom-color-dark: var(--border-color-dark);
  --border-bottom-color-light: var(--border-color-light)
}
body:not(.pause) #table.finished > *[data-type="9"]:not(.flag).left
{
  --border-left-color-dark: var(--border-color-dark);
  --border-left-color-light: var(--border-color-light)
}

body:not(.pause) #table.finished.won > *.opened
{
  background-color: rgba(219, 255, 244, 0.5);
}
body:not(.pause) #table.finished:not(.won) > *.opened
{
  background-color: hsla(0, 100%, 93%, 0.5);
}
body:not(.pause) #table > *[data-type]
{
  background-color: rgba(189, 212, 255, 0.5);
}

body:not(.pause) #table.finished > *[data-type="9"].shown.last:not(.flag).last::before
{
  animation: shake 0.5s linear infinite;
}

body:not(.pause) #table.finished > *[data-type="9"]:not(.flag)
{
  background-color: rgb(252, 118, 118);
  box-shadow:
      /* top */
      0 var(--border-top) var(--border-size-dark) 0 var(--border-top-color-dark) inset,
      /* 0 var(--border-bottom) var(--border-size-light) 0 var(--border-top-color-light) inset, */
      /* right */
      var(--border-right) 0 var(--border-size-dark)  0 var(--border-right-color-dark) inset
      /* var(--border-left) 0 var(--border-size-light) 0 var(--border-right-color-light) inset, */
      /* bottom */
      /* 0 var(--border-bottom) var(--border-size-dark) 0 var(--border-bottom-color-dark) inset,
      /* 0 var(--border-top) var(--border-size-light) 0 var(--border-bottom-color-light) inset, */
      /* left */
      /* var(--border-left) 0 var(--border-size-dark) 0 var(--border-left-color-dark) inset */
      /* var(--border-right) 0 var(--border-size-light) 0 var(--border-left-color-light) inset */
}



body:not(.pause) #table > *.flag,
body:not(.pause) #table.finished > *.flag,
body:not(.pause) #table:not(.finished) > *[data-type="64"]
{
  background-color: rgb(252, 178, 118);
  box-shadow: calc(var(--zoom) / 20) calc(var(--zoom) / 20) calc(var(--zoom) / 15) 0 black, calc(var(--zoom) / 20 * -1) calc(var(--zoom) / 20 * -1) calc(var(--zoom) / 5) 0 rgba(192, 192, 192, 0.5)
}


body:not(.pause) #table > *[data-type="9"].flag,
body:not(.pause) #table.won > *[data-type="9"]
{
  background-color: rgb(118, 252, 196);
}


@keyframes rotate{
  to{ transform: rotate(360deg); }
}

.stats
{
  display: flex;
}

.stats > *
{
  display: flex;
  gap: 0 1em;
  flex-wrap: wrap;
  /* max-width: 41em; */
}

.stats > * > * > :not(:first-child)
{
  font-weight: bold;
  margin-left: 0.3em;
  font-family: Roboto-mono;
}

#difficulty
{
  font-style: italic;
}
.hidden
{
  position: fixed;
  top: -10000vh;
}

.hidden::before
{
  content: url(images/flag.svg) url(images/mine.svg);
}

body
{
  margin: 0;
  padding: 0;
  overflow: hidden;
/* font-family: 'Roboto'; */}

.content
{
  max-width: 100%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  box-sizing: border-box;
text-align: center;}

.tableBox
{
  overflow: auto;
  padding: 1px 0 0 1px;
text-align: center;}

#clock > :not(:last-child)::after
{
  content: ":";
}
#clock > :last-child,
#clock > :nth-last-child(2)::after
{
  content: ".";
  font-size: 0.8em;
}

body:not(.pause) #clock.blink > :not(:nth-last-child(2))::after
{
  opacity: 0.5;
}

body.drag
{
  cursor: grab;
}
body.dragging
{
  cursor: grabbing;
}
