:root {
  touch-action: none;
  height: 100%;
  --labelColor: #0268ff;
  /* any */
  /*-- light theme */
  --labelColorDark: #67a4ff;
  /* any */
  /*-- dark theme */
  color-scheme: light dark;
  color-scheme: normal dark;
  
}

/* image preload */
:root::before {
  content:  url(images/flag_red_000.svg)
            url(images/flag_lightgreen_000.svg)
            url(images/flag_lightblue_000.svg)
            url(images/mine_000000_transparent_transparent_transparent.svg)
            url(images/mine_000000_transparent_fff_transparent.svg);
  position: fixed;
  top: -10000vh;
}

@media (prefers-color-scheme: dark) {
  :root:not([theme="light"]) {
    --labelColor: var(--labelColorDark);
  }
}

:root[theme="dark"] {
  color-scheme: dark;
  --labelColor: var(--labelColorDark);
}

:root[theme="light"] {
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  fieldset {
    background-color: darkslategray;
  }
}

html {
  -webkit-user-select: none;
  user-select: none;
  font-size: 1em;
  line-height: 1.0em;
  font-family: "Roboto";
  background-color: #EEEEEE;
}

body {
  --cols: 0;
  --zoom: 2.5em;
  --fontSize: calc(var(--zoom) / 0.7);
  --border-color-dark: black;
  --border-color-light: transparent;
  --border-color: #6C6C6C;
  --background-color: #B9B9B9;
  /* --border-color-light: rgba(192, 192, 192, 0.5); */
  --background-color-even: #FDFCFD;
  --background-color-header: #CCCCCC;
  --background-color-header-hover: #BCBCBC;
  --border-size: min(calc(var(--zoom) / 3.7), 4px);
  --border-top: var(--border-size);
  --border-right: calc(var(--border-size) * -1);
  --border-left: var(--border-top);
  --border-bottom: var(--border-right);
  --border-size-dark: var(--border-size);
  --border-size-light: calc(var(--zoom) / 5);
  --border-spread-dark: calc(var(--border-size-dark) / 2.5 * -1);
  --border-top-color-dark: transparent;
  --border-right-color-dark: transparent;
  --border-bottom-color-dark: transparent;
  --border-left-color-dark: transparent;
  --border-top-color-light: transparent;
  --border-right-color-light: transparent;
  --border-bottom-color-light: transparent;
  --border-left-color-light: transparent;
  --border-light: #FDFCFD;
  --border-dark: #757575;
  --cell-font: Roboto-bold;
  --cell-stroke: black;
  --cell-fill: white;
  --cell-flag: rgb(252, 178, 118);
  --cell-mineGood:  rgb(118, 252, 196);
  --cell-mineBad: rgb(207, 153, 153);
  --cell-mineOpened: rgb(255, 0, 0);
  --cell-open: rgba(189, 212, 255, 0.5);
  /* --cell-openGood: rgba(219, 255, 244, 0.5); */
  --cell-openBad: rgba(160, 126, 126, 0.363);
  --cell-mineBad: var(--cell-openBad);
  --cell-openGood: var(--background-color);
  --iconSize: calc(100% + var(--border-size));
  --flagSize: 100%;
  /* background-color: #C0C0C0; */
}
body[data-monochrome="1"]
{
  --cell-mineOpened: rgb(255, 75, 75);
}

/* .menu.popup
{ */
/* display: flex; */
/* gap: 0 0.5em;
  flex-wrap: wrap; */
/* justify-content: flex-start; */
/* max-width: 34em; */
/* min-width: 18em; */
/* flex-grow: 0; */
/* text-align: center; */
/* display: block; */
/* margin: auto;
} */
/* .menu.popup > *
{
  display: inline-flex;
  gap: 0.2em; */
/* float: left; */
/* flex-grow: 0; */
/* flex-shrink: 0; */
/* display: block; */
/* align-items: center;
} */

nav.control {
  display: flex;
  gap: 0.5em;
  flex-flow: wrap;
  padding: 0.4em 0.5em 0 0.4em;
  text-align: center;
  flex-direction: column-reverse;
}

.menu.popup input[type="number"] {
  width: 3.5em;
}

.menu.popup :first-child {
  flex-grow: 0;
  gap: 0.5em;
  vertical-align: middle;
}

.menu.popup label > :last-child {
  vertical-align: middle;
}

#table {
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  text-align: center;
  /* margin: 1em; */
  /* allow cell border through;*/
  margin: calc(var(--zoom) / 30) calc(var(--zoom) / 30) 0;
  margin: 0;
  font-size: 0.4em;
  align-content: center;line-height: 0.5em;
  /* border: var(--border-size) inset;; */;
  align-self: center;
  align-items: center;/* margin: auto; */
}

#table > * {
  position: relative;
  border: 1px solid black;
  /* margin-left: -1px; */
  /* margin-top: -1px; */
  width: var(--zoom);
  height: var(--zoom);
  vertical-align: middle;
  font-size: 0.5em;
  /* line-height: calc(var(--size) / 2.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-repeat: no-repeat;
  /* z-index: 2; */
  background-color: var(--background-color);
  border: var(--border-size) solid;
  border-top-color: var(--border-light);
  border-right-color: var(--border-dark);
  border-bottom-color: var(--border-dark);
  border-left-color: var(--border-light);
  /* transform: scale(0.9); */
  outline: 1px solid transparent;
}

.sizeBox
{
  display: inline-flex;
  gap: 0.2em;
}

@media (orientation: portrait) {
  .sizeBox
  {
    flex-direction: row-reverse;
  }
}
body:not([data-presets=""]) #presets > option[value=""]
{
  display: none;
}
body:not([data-state="pause"]):not(.drag):not(.finished) #table > *:not(.shown):not(.anim):hover {
  box-shadow: 0 0 calc(var(--zoom) / 5) 0 black inset;
  /* ,0 0 calc(var(--zoom) / 5) 0; */
}
#table > *:not(.anim)::before {
  font-size: var(--fontSize);
}
body:not([data-state="pause"]) #table > *.anim
{
  filter: sepia(0.2);
}
body:not([data-state="pause"]) #table > *.anim::before
{
  opacity: 0.4;
  font-size: calc(0.7 * var(--fontSize));
}


#table > *[data-type]::before {
  position: relative;
  /* top: 0; */
  /* line-height: 0.7em; */
}

body[data-state="pause"] #table {
  opacity: 0.2;
  /* background-color: silver; */
}

body[data-state="pause"] .borderIn:after {
  content: "Paused";
  position: absolute;
  margin: auto;
  font-size: calc(var(--zoom) * 0.5);
}

body[data-state="pause"]
{
  --background-color: lightgrey;
}
body:not([data-state="pause"]) #table > *[data-type]:not([data-type="9"]):not([data-type="64"]):not([data-type="128"]):not([data-type="0"])::before
{
  content: attr(data-type);
  font-family: var(--cell-font);
}
body:not([data-state="pause"]):not([data-monochrome="1"]) #table > *[data-type="1"]::before {
  color: #001BF6;
}
body:not([data-state="pause"]):not([data-monochrome="1"]) #table > *[data-type="2"]::before {
  color: #31761B;
}
body:not([data-state="pause"]):not([data-monochrome="1"]) #table > *[data-type="3"]::before {
  color: #EC3322;
}
body:not([data-state="pause"]):not([data-monochrome="1"]) #table > *[data-type="4"]::before {
  color: #000776;
}
body:not([data-state="pause"]):not([data-monochrome="1"]) #table > *[data-type="5"]::before {
  color: #790207;
}
body:not([data-state="pause"]):not([data-monochrome="1"]) #table > *[data-type="6"]::before {
  color: #34797A;
}
body:not([data-state="pause"]):not([data-monochrome="1"]) #table > *[data-type="7"]::before {
  color: #484848;
}
body:not([data-state="pause"]):not([data-monochrome="1"]) #table > *[data-type="8"]::before {
  color: #7B7B7B;
}

#imgFlag,
body:not([data-state="pause"]) #table > *[data-type="9"]::before,
body:not([data-state="pause"]) #table > *[data-type="64"]::before,
body:not([data-state="pause"]) #table > *[data-type="128"]::before
{
    content: "";
  height: var(--iconSize);
  width: var(--iconSize);
  background-size: cover;
  background-image: url(images/flag_red_000.svg);
  background-repeat: no-repeat;
}
body:not([data-state="pause"]) #table > *[data-type="9"].opened:not(.flag)::before
{
  height: var(--iconSize);
  width: var(--iconSize);
  /* margin-left: calc(var(--border-size) / 2 * -1); */
}

body:not([data-state="pause"]) #table > *[data-type="9"].flag::before,
body:not([data-state="pause"]) #table > *[data-type="64"]::before,
body:not([data-state="pause"]) #table > *[data-type="128"]::before
{
  height: var(--flagSize);
  width: var(--flagSize);
}

.borderOut
{
  display: inline-block;
  padding: calc(var(--border-size) * 1);
  background-color: var(--background-color);
  border: calc(var(--border-size) / 1.5) solid;
  border-top-color: var(--border-light);
  border-right-color: var(--border-dark);
  border-bottom-color: var(--border-dark);
  border-left-color: var(--border-light);

}
.borderIn
{
  display: inline-block;
  padding: 0 0 0 1px;
  background-color: var(--background-color);
  border: calc(var(--border-size) / 1.5) solid;
  border-top-color: var(--border-dark);
  border-right-color: var(--border-light);
  border-bottom-color: var(--border-light);
  border-left-color: var(--border-dark);

  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

#imgMine,
body:not([data-state="pause"]) #table > *[data-type="9"].flag::before {
  background-image: url(images/flag_lightgreen_000.svg);
}
body:not([data-state="pause"]) #table > *[data-type="64"]:not(.opened):not(.shown)::before {
  background-image: url(images/flag_lightblue_000.svg);
}
body:not([data-state="pause"]) #table > *[data-type="128"]::before
{
  transform: rotate(180deg);
}
  body:not([data-state="pause"]) #table > *[data-type="128"]:not(.opened):not(.shown)::before {
  background-image: url(images/flag_grey_000.svg);
}
body:not([data-state="pause"]) #table > *[data-type="9"]:not(.flag)::before {
  background-image: url(images/mine_000000_transparent_transparent_transparent.svg);
  margin-left: calc(var(--border-size) / 2 * -1);
}
body:not([data-state="pause"]) #table > *[data-type="9"].opened:not(.flag)::before
{
  background-image: url(images/mine_000000_transparent_fff_transparent.svg);
}
body:not([data-state="pause"]) #table > *[data-type="128"].opened:not(.flag)::before
{
  background-image: url(images/flag_red_000.svg);
}
/* 
body:not([data-state="pause"]) #table.finished > *[data-type="9"]:not(.flag).top {
  --border-top-color-dark: var(--border-color-dark);
  --border-top-color-light: var(--border-color-light);
}

body:not([data-state="pause"]) #table.finished > *[data-type="9"]:not(.flag).right {
  --border-right-color-dark: var(--border-color-dark);
  --border-right-color-light: var(--border-color-light);
}

body:not([data-state="pause"]) #table.finished > *[data-type="9"]:not(.flag).bottom {
  --border-bottom-color-dark: var(--border-color-dark);
  --border-bottom-color-light: var(--border-color-light);
}

body:not([data-state="pause"]) #table.finished > *[data-type="9"]:not(.flag).left {
  --border-left-color-dark: var(--border-color-dark);
  --border-left-color-light: var(--border-color-light);
} */

body.finished.won #clock {
  text-shadow: 0 0 3px lightgreen;
}
body.finished:not(.won) #clock {
  text-shadow: 0 0 3px pink;
}

body:not([data-state="pause"]).finished.won #table > *.opened {
  background-color: var(--cell-openGood);
}

body:not([data-state="pause"]).finished:not(.won) #table > *:not([data-type="9"]).shown:not(.opened):not(.flag) {
  /* background-color: var(--cell-openBad); */

}

body:not([data-state="pause"]).finished #table > *[data-type="9"].shown:not(.flag):not(.opened),
body:not([data-state="pause"]):not(.finished) #table > *[data-type]:not(.flag):not([data-type="64"]):not(.question):not([data-type="128"]):not(.anim),
body:not([data-state="pause"]) #table > *[data-type]:not(.flag):not([data-type="64"]):not(.question):not([data-type="128"]).opened
{
    /* background-color: var(--cell-open); */
    /* border: 1px solid #6C6C6C; */
    /* padding: calc(var(--border-size) - 1px); */
    /* margin-left: -1px; */
    /* outline-color: red; */
    /* z-index: 0; */
    border-color: transparent;
    outline: 1px solid var(--border-color);
}

body:not([data-state="pause"]) #table > *[data-type="9"]:not(.flag).opened
{
  background-color: var(--cell-mineOpened);
  /* border-style: inset; */
  /* outline: 1px solid var(--border-color); */

}

body:not([data-state="pause"]).finished #table > *[data-type="9"].shown.last:not(.flag).last::before {
  /* transition: transform 0.1s; */
  transform: translate(var(--shakeX), var(--shakeY)) rotate(var(--shakeR));
}
/* body:not([data-state="pause"]).finished #table > *[data-type="9"].shown.opened:not(.flag)
{
  border-radius: 40%;
} */
body:not([data-state="pause"]).finished #table > *[data-type="9"].shown:not(.flag):not(.opened) {
  /* background-color: var(--cell-mineBad); */
  /* border-style: inset; */
  /* border-color: transparent;
  outline: 1px solid var(--border-color); */
  /* z-index: 1; */
  /* border: var(--border-size) inset; */
  /* border: 1px solid #808080; *//* padding: calc(var(--border-size) - 1px); *//* padding: unset; */
}

/* body:not([data-state="pause"]).finished #table > *[data-type="9"]:not(.flag)::before {
  top: calc(var(--border-size-dark) / 55);
  left: calc(var(--border-size-dark) / 55);
}

body:not([data-state="pause"]).finished #table > *[data-type="9"]:not(.flag).top {
  background-image: linear-gradient(var(--border-color-dark), transparent);
  background-size: 100% var(--border-size-dark);
}

body:not([data-state="pause"]).finished #table > *[data-type="9"]:not(.flag).left {
  background-image: linear-gradient(to right, var(--border-color-dark), transparent);
  background-size: var(--border-size-dark) 100%;
}

body:not([data-state="pause"]).finished #table > *[data-type="9"]:not(.flag).top.left {
  background-image: linear-gradient(to right, var(--border-color-dark), transparent), linear-gradient(var(--border-color-dark), transparent);
  background-size: var(--border-size-dark) 100%, 100% var(--border-size-dark);
} */



body:not([data-state="pause"]) #table > *.flag,
body:not([data-state="pause"]).finished #table > *.flag,
body:not([data-state="pause"]):not(.finished) #table > *[data-type="64"]
{
  /* z-index: 3; */
  /* background-color: var(--cell-flag); */
  /* transform: scale(1.05); *//* margin: -2px; */
  /* box-shadow: var(--border-top) var(--border-top)
      var(--border-size) 0 var(--border-color-dark); */
}

body:not([data-state="pause"]) #table > *[data-type="9"].flag.opened {
  /* background-color: var(--cell-mineGood); */
  /* z-index: 3; */
}

body:not([data-state="pause"])[data-show-steps="1"] #table > *[data-step]::after {
  content: attr(data-step);
  position: absolute;
  top: calc(var(--border-size) / 2 * -1);
  right: calc(var(--border-size) / 2 * -1);
  text-align: right;
  vertical-align: top;
  line-height: 100%;
  /* padding: calc(var(--fontSize) / 100); */
  font-size: calc(var(--fontSize) / 3.5);
  overflow: hidden;
  max-width: calc(100% + var(--border-size) / 1);
  text-overflow: ellipsis;
  --textShadow: calc(var(--fontSize) / 170);
  text-shadow:  0     1px   var(--textShadow) #FFF,
                1px   0     var(--textShadow) #FFF,
                0     -1px  var(--textShadow) #FFF,
                -1px  0     var(--textShadow) #FFF,
                1px     1px   var(--textShadow) #FFF,
                -1px   -1px     var(--textShadow) #FFF,
                1px     -1px  var(--textShadow) #FFF,
                -1px  1px   var(--textShadow) #FFF;
}
body:not([data-state="pause"]) #table > *[data-step][data-type="9"]:not(.flag)::after {
  /* top: calc(var(--border-size-dark) / 50); */
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 570px)
{
  .stats
  {

    max-width: 23em;
  }
  .clock
  {
    order: 2;
  }
  .stats > div
  {
    /* gap: 0; */
  }
}
.stats {
  display: flex;
  /* align-items: center; */
  /* text-align: center; */
  align-self: center;
}

.stats > * {
  display: flex;
  gap: 0 1em;
  /* max-width: 41em; */
  /* text-align: center; */
  /* align-self: center; */
  align-content: stretch;
  /* align-items: center; */
  margin: auto;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.stats > * > *
{
  /* margin: auto; */
/* display: inline-flex; *//* align-items: center; *//* vertical-align: middle; */
  margin: 0.2em 0;
}

.stats > * > * > :not(:first-child):not(.digit),
.statsBoardBox > * > :not(.digit)
{
  /* font-weight: bold; */
  margin-left: 0.3em;
  font-family: Roboto-mono;
  position: relative;
  vertical-align: bottom;
  /* line-height: 1em; */
}

.statsBoardBox
{
  display: inline-table;
  /* border-spacing: 0.2em; */
  border-collapse: collapse;
  margin: 0.5em;
  border: 1px solid var(--border-color);
}

.statsBoardBox th
{
  padding: 0.4em;
  border-bottom: 1px solid var(--border-dark);
  background-color: var(--background-color-header);
}

body[data-state="start"] .statsBoardBox .clear
{
  visibility: hidden;
}
.statsBoardBox .clear
{
  width: 0;
  height: 0;
  max-height: 0;
  position: absolute;
  top: 0;
  right: 0.1em;
  overflow: hidden;
  max-width: 0;
}
.statsBoardBox .clear::before
{
  content: ".";
  cursor: pointer;
  /* width: 2em; */
  /* padding: 0.2em; */
  /* max-width: 1em; */
  /* max-height: 20em; */
  line-height: 4em;
  /* overflow: hidden; */
  display: inline-block;
  font-size: 0.05em;
  margin: -2em 0em 0 0;
  vertical-align: top;
  font-family: roboto-mono;
}
.statsBoardBox .clear:hover::after
{
  background-color: var(--background-color-header-hover);
}


.statsBoardBox tr:nth-child(even)
{
  background-color: var(--background-color-even);
}
.statsBoardBox td
{
  padding: 0.2em;
}


.statsBoardBox td.digit
{
  /* display: table-cell; */
  text-align: left;
  vertical-align: middle;
}
.statsBoardBox td:first-child
{
  font-family: Roboto;
  /* display: block; */
  text-align: right;
  padding: 0.4em;
}
.statsBoardBox > span > *:first-child
{
  text-align: left;
}
.statsBoardBox .extra
{
  opacity: 0.7;
  text-align: right;
  vertical-align: middle;
  font-size: 0.8em;
  /* position: absolute; */
  white-space: nowrap;
}

.digit
{
  font-family: Segmented7;
  /* font-size: 0.9em; */
  margin-left: 0;
  vertical-align: bottom;
}
.statsBoard
{
  text-align: center;
  /* width: fit-content; */
  /* max-height: min-content; */
  overflow: auto;
}


#clock
{
  padding-left: 0.3em;
}

#menuDifficulty,
#difficulty
{
  font-style: italic;
}

#menuDifficulty
{
  opacity: 0.7;
}
.hidden
{
  position: fixed;
  top: -10000vh;
}

body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  height: 100vh;/* font-family: 'Roboto'; */
  /* opacity: 0; */
}

body[data-state]
{
  opacity: 1;
  transition: opacity 0.1s;
}

body[data-monochrome="1"] #table
{
  filter: grayscale(1);
}
main {
  max-width: 100%;
  max-height: calc(100vh - 3.5em);
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  box-sizing: border-box;
  /* text-align: center; */
}

.tableBox {
  overflow: auto;
  padding: 1px 0 0 1px;
  text-align: center;
  /* position: relative; */
  /* top: var(--shakeY); */
  /* left: var(--shakeX); */
  transform: translate(var(--shakeX), var(--shakeY)) rotate(var(--shakeR));
}

.empty:after {
  content: "e";
}
[data-ghost]::before
{
  content: attr(data-ghost);
  position: absolute;
  color: initial;
  opacity: 0.03;
  /* padding-top: 0.1em; */
  }
.clock > [data-time="h"]::after,
.clock > [data-time="m"]::after {
  content: " : ";
}

.clock > [data-time="s"]::after {
  content: " . ";
  /* font-size: 0.8em; */
}

body.finished .stats
{
  animation: blink 5s ease infinite both;
}
@keyframes blink {
  3% {
    opacity: 0.3;
  }
  6%{
    opacity: 1;
  }

}

body:not([data-state="pause"]):not(.finished) .clock.blink > [data-time="h"]::after,
body:not([data-state="pause"]):not(.finished) .clock.blink > [data-time="m"]::after {
  opacity: 0.1;
}

body.drag {
  cursor: grab;
}

body.dragging {
  cursor: grabbing;
}

.menu {
  box-shadow: 0 0 8px 0px #7f7f7f7f;
  padding: 0;
  margin: 0;
  min-width: 8em;
  background-color: -moz-Dialog;
  background-color: Menu;
  color: -moz-DialogText;
  color: MenuText;
  z-index: 10;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: top 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
  /* display: table; */
  border-radius: 5px;
  /* overflow: auto; */
  /* max-height: 100vh; */
  /* table-layout: fixed; */
}

.menu-content
{
  overflow: auto;
  max-height: 80vh;
}
.default
{
  font-weight: bold;
  font-size: 1.2em;
}

:root[theme="dark"] .menu {
  box-shadow: none;
}

@media (prefers-color-scheme: dark) {
  :root:not([theme]) .menu {
    box-shadow: none;
  }
}

.menu-content > * {
  padding: 0.5em 1.5em 0.5em 1.5em;
  display: block;
}

.menu > [data-type]:not([data-type="dropdown"]) {
  cursor: pointer;
}

/* .close-overlay
{
  background-color: blue;;
}
.close-overlay ~ * .close-overlay
{
  background-color: red;
} */
.menu > label .options {
  pointer-events: none;
}

.menu > .value:hover {
  background-color: rgba(127, 127, 127, 0.5);
}

.close-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  z-index: 2;
  /* background-color: transparent; */
  /* background-color: blue; */
  background-color: #202020B0;
}


.close-overlay ~ * .close-overlay {
  z-index: 10;
}

input#main-menu {
  display: none;
}

input#main-menu:checked ~ * .main-menu .close-overlay {
  display: block;
}

input#main-menu:not(:checked) ~ * .main-menu div.menu {
  /* display: none; */
  top: -170%;
  transition: top 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
}

.menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  display: flex;
  padding: 0.5em;
  transition: top 0.1s ease, right 0.1s ease;
  opacity: 0.5;
  z-index: 10;
}

.menu-icon:hover {
  opacity: 1;
}

.navicon {
  background-color: var(--textColor);
  display: block;
  height: 0.1em;
  width: 100%;
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  transition: background-color 0.3s;
}

.navicon:before {
  top: 0.5em;
}

.navicon:after {
  top: -0.5em;
}

#main-menu:checked ~ * .main-menu .menu-icon {
  top: 0.4em;
  right: 0.4em;
}

#main-menu:checked ~ * .main-menu * .navicon {
  background-color: transparent;
  width: 70%;
  transition: top 0.1s ease, right 0.1s ease;
}

#main-menu:checked ~ * .main-menu * .navicon:before {
  background-color: MenuText;
  transform: rotate(-135deg);
  top: 0;
  right: 0;
}

#main-menu:checked ~ * .main-menu * .navicon:after {
  background-color: MenuText;
  transform: rotate(135deg);
  top: 0;
  right: 0;
}

.navicon:before,
.navicon:after {
  background-color: var(--textColor);
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  transition: top 0.1s ease, right 0.1s ease, transform 0.3s ease;
}

#main-menu:checked ~ * .main-menu * .navicon:before,
#main-menu:checked ~ * .main-menu * .navicon:after {
  transition: top 0.1s ease-out, right 0.1s ease, transform 0.3s ease-out;
}

#main-menu:checked ~ *:not(header)
{
  filter: blur(2px);
}
.menu > header {
  min-height: 2em;
  border-bottom: 1px solid #7f7f7f7f;
  text-align: center;
  /* margin-right: 1em; */
  line-height: 2em;
  color: GrayText;
}


#tableCanvas {
  /* width: calc(100vw - 1.5em); */
  /* height: 100vh; */
  /* border: 1px solid red; */
  font-size: var(--fontSize);
  font-family: Roboto-mono;
  padding: 1em;
  display: flex;
  margin: auto;
}

body:not([data-state="pause"]) .active
{
  box-shadow: 0 0 1em 0.5em rgb(76 144 199 / 50%), 0 0 10em 1em rgb(76 144 199 / 50%) inset;
/* border-radius: 100%; *//* border-width: 0 !important; */
}

