html
{
  -webkit-user-select: none;
  user-select: none;
  font-family: Roboto-Regular, Roboto, sans-serif;
  line-height: 1.6em;
}

.control > *
{
  display: inline-block;
}
.control input
{
  width: 3em;
}

#table
{
  display: inline-grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  text-align: center;
}

#table > *
{
  border: 1px solid black;
  margin-left: -1px;
  margin-top: -1px;
  width: 2em;
  height: 2em;
  vertical-align: middle;
  line-height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

#table:not(.finished) > *:not(.opened):hover
{
  box-shadow: 0 0 4px 0 black inset;
}

#table > *::before
{
  font-size: 1.3em;
}

#table > *[data-type]::before
{
  position: relative;
  top: 0;
  line-height: 0.9em;
}
#table > *[data-type]:not([data-type="9"]):not([data-type="32"]):not([data-type="0"])::before
{
  content: attr(data-type);
}

#table > *[data-type="32"]::before
{
  content: url(images/flag.svg);
  line-height: 1em;
}
#table > *[data-type="9"]::before
{
  content: url(images/mine.svg);

}
#table > *[data-type],
#table.finished > *
{
  background-color: rgb(189, 212, 255);
}

#table > *[data-type="32"]
{
  background-color: rgb(252, 178, 118);
}

#table > *[data-type="9"]
{
  background-color: rgb(252, 118, 118);
}

#table.finished > *[data-type="9"]
{
  background-color: rgb(118, 252, 196);
}
